/* Cadastro - Estilo Personalizado */
body {
    background-color: #1f1f1f; /* Fundo do formulário mais escuro */
    font-family: Arial, sans-serif;
}
h2{
    color: #fff;
}
img#logo{
    width: 150px;
    height: 150px;
}

button#btn-submit{
    border: none;
    height: 60px;
}